.hero {
  &__intro {
    grid-column: 2/3;

    @include breakpoint(minmobile) {
      grid-row: 1;
      align-self: center;
      padding: 0 2em;
    }

    @include breakpoint(mintablet) {
      grid-column: 2/3;
      padding: 0;
    }
  }

  &__title {
    font-size: 3rem;
    @include breakpoint(minmobile) {
      font-size: 6vw;
    }
    @include breakpoint(mintablet) {
      font-size: calc(6vw - 50%);
    }
    @media (min-width: 2200px) {
      font-size: 9.6rem;
    }
  }

  &__text {
    @include breakpoint(mindesktop) {
      font-size: 2.1rem;
    }
  }

  &__booking {
    font-size: 1.3rem;
    text-transform: uppercase;
    font-family: $body-bold;
    color: $martini;
    margin-top: 5em;
    letter-spacing: 0.03em;

    .icon {
      width: 1em;
      height: 1em;
      margin-left: 0.5em;
      position: relative;
      top: 2px;
      svg {
        color: inherit;
        fill: currentcolor;
      }
    }
  }

  &__figure {
    margin: 0;
    grid-column: 1;
    grid-column-end: -1;
    grid-row: 1;
    justify-self: none;
    height: 80vh;

    @include breakpoint(minmobile) {
      opacity: 0.1;
      height: 100vh;
    }

    @include breakpoint(mintablet) {
      opacity: 0.7;
      grid-column: 4/6;
      justify-self: end;
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: top;
    }
  }
}
