// --------------------------------
// Main section
// --------------------------------
.main-section {
  padding-bottom: 3em;
  align-items: center;
  position: relative;
  background: $grey;
  grid-row-gap: 3rem;
  @include breakpoint(mintablet) {
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      top: 0;
      height: 10%;
      transform: skewY(-8deg);
      background: $grey;
      border-top: 10px solid lighten($grey, $amount: 5);
    }
  }
  .card {
    grid-column: 2/3;
    align-self: start;
    justify-self: center;
    z-index: 10;

    @media (min-width: 50em) and (max-width: 64em) {
      grid-column: 1 / span 2;
      justify-self: start;
    }
  }

  .testimonial {
    grid-column: 2/3;
    @include breakpoint(mintablet) {
      grid-column: 3 / span all;
    }
    @include breakpoint(minlaptop) {
      margin: 0;
      grid-column: 4/5;
    }
  }
  .contact {
    grid-column: 2/3;
    align-self: center;
    justify-self: center;
  }
  .contact__img {
    grid-column: 2/3;
    justify-self: center;
    @include breakpoint(mintablet) {
      grid-column: 4/5;
    }
  }
}
