.testimonial {
  position: relative;
  color: $grey-light;
  &::before {
    content: "";
    display: block;
    width: 25px;
    height: 17px;
    background: url(../images/quotemark.svg);
    fill: red;
    position: absolute;
    top: 0;
    left: -40px;
  }
  @include breakpoint(minlaptop) {
    font-size: 2.1rem;
    line-height: 1.6;
  }
}
