html {
  font-size: 62.5%;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $grey;
  color: $grey-dark;
  font-family: $body;
  font-size: 1.8rem;
  line-height: 1.5;
  @media (min-width: 2200px) {
    font-size: 2.1rem;
  }

  &.home {
    color: $grey-pale;
  }
}

// Headers --------------------------
h1,
h2,
h3 {
  font-family: $heading;
  font-weight: normal;
}

h1 {
  font-size: 3.6rem;
  line-height: 1.1;
  @include breakpoint(minmobile) {
    font-size: 4.6rem;
  }
  @include breakpoint(mintablet) {
    font-size: 6.4rem;
  }
  @include breakpoint(minlaptop) {
    font-size: 7.4rem;
  }
}

h2 {
  font-size: 2.6rem;
  line-height: 1.2;
  @include breakpoint(minmobile) {
    font-size: 3.6rem;
  }
  @include breakpoint(mintablet) {
    font-size: 4.8rem;
  }
}

h3 {
  font-size: 2.2rem;
  line-height: 1.2;
  @include breakpoint(minmobile) {
    font-size: 2.8rem;
  }
  @include breakpoint(mintablet) {
    font-size: 3.6rem;
  }
}

h4 {
  font-family: $body-bold;
  font-weight: normal;
}

// Blockquotes ---------------------
blockquote {
  p {
    font-family: $heading;
    font-size: 2.1rem;
  }
  cite {
    text-transform: uppercase;
    font-style: normal;
    font-size: 1.3rem;
    font-family: $body-bold;

    &::before {
      content: "— ";
    }
  }
}
