// --------------------------------
// Colours
// --------------------------------
$grey: #5b616d;
$grey-dark: #484c54;
$grey-mid: #9699a0;
$grey-light: #c3c4c7;
$grey-pale: #e6e6e6;
$white: #fcfcfc;

$martini: #b5a3a3;
$martini-dark: #9a8c8c;

$pink: #cf7e7e;
$pink-dark: #b56e6e;

// --------------------------------
// Typography
// --------------------------------
$body-font: Georgia, serif;
$heading-font: sans-serif;
